:root {
  --imperial: #552a6a;
  --amaranth: #e83369;
  --brick-rojo: #cd2d5d;
  --mexican-rojo: #992245;
  --west-side: #ff8f0f;
  --deep-lemon: #ffca1c;
  --dandelion: #ffda61;
  --lima: #54cc2c;

  --wafer: #dfcec2;
  --flint: #736e69;

  --cloud-burst: #1e2f4e;
  --cinnabar: #e54d42;
  --blizzard: #b7e6f2;
  --curious-azul: #3a99d9;
  --fun-azul: #1369a3;

  --woodsmoke: #18181a;
  --cod-gris: #1a1a1a;
  --mine-shaft: #282828;
  --mine-shaft-light: #303030;
  --scorpion: #606060;
  --silver-chalice: #a6a6a6;
  --mercury: #e6e6e6;

  --page-width: 800px;

  --spinner-color: var(--amaranth);

  --link-color: var(--amaranth);
  --button-color: var(--brick-rojo);
  --button-highlight-color: var(--amaranth);
  --button-engage-color: var(--mexican-rojo);
  --button-fg: #ffffff;
  --subtle-border: var(--mine-shaft);
}

.dark {
  --bg: var(--mine-shaft);
  --fg: var(--mercury);
  --contrast-bg: var(--woodsmoke);
  --input-bg: var(--cod-gris);
  --input-fg: var(--scorpion);
  --input-disabled-bg: var(--cod-gris);
  --input-disabled-fg: var(--mine-shaft-light);
  --input-placeholder: var(--scorpion);
  --input-focus: var(--mercury);
  --error: var(--brick-rojo);
  --bellow-bg: var(--bg);
  --bellow-zebra-bg: var(--mine-shaft-light);
  --bellow-border: var(--scorpion);
}

.light {
  --fg: var(--mine-shaft);
  --contrast-bg: var(--mercury);
  --input-bg: #f8f8f8;
  --input-fg: var(--scorpion);
  --input-disabled-bg: var(--mercury);
  --input-disabled-fg: #999;
  --input-placeholder: var(--scorpion);
  --input-focus: var(--woodsmoke);
  --error: var(--mexican-rojo);
  --bellow-bg: var(--bg);
  --bellow-zebra-bg: #f8f8f8;
  --bellow-border: var(--silver-chalice);
}
